body {
	font-family: 'SST', sans-serif;
	font-weight: lighter;
	font-size: 10px;

}

@font-face {
	font-family: SST;
	src: url("../fonts/SST.TTF");
}



.mp4-player {
	background-image: url('../images/mp4.png');
	width: 191px;
	height: 366px;
	position: relative;
	top: 20px;
	left: 300px;
}


.mp4-screen {
	width: 136px;
	height: 179px;
	background-color: black;
	position: relative;
	top: 34px;
	left: 28px;
	color: white;
	background: linear-gradient(black, black, black, #140756);
	border: solid black 1px;
}

.header, .footer {
	position: absolute;
	width: 136px;
	min-height: 16px;
	display: flex;
	flex-direction: row;
}

.header {
	top: 0;
	text-align: center;
	justify-content: center;
	background: linear-gradient( #282828,#858585);
}

.footer {
	bottom: 0;
	justify-content: space-between;
	background: linear-gradient(#858585, #282828);
}

.footer-state {
	margin-left: 6px;
	margin-right: 0px;
}

.footer-title {
	padding: 1px;
}

.battery {
	height: 12px;
	filter: invert();
}

.menu {
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.menu-title {
	margin-bottom: 30px;
}

.menu-icons img {
	width: 15px;
	margin: 11px 14px;
	filter: invert();
	transition: ease-in-out 0.1s;
}



.hover-icon {
	scale: 1.4;
	animation: clignotement 1s infinite;
	transition: ease-in-out 0.1s;


}

@keyframes clignotement {
	
	0% {
		filter: invert() drop-shadow(0 0 2px orange);
	}
	50% {
		filter: invert();
	}
	100% {
		filter: invert() drop-shadow(0 0 2px orange);
	}
  }

.menu-icons {
	position: absolute;
	top: 16px;
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}


.button,
.arrow {
	cursor: pointer;
	z-index: 2;
	position: absolute;
	/* background-color: aqua; */
	filter: blur(10px);
}

.button {
	width: 40px;
	height: 40px;
	border-radius: 50%;

}

.arrow {
	position: absolute;
}

.button:hover,
.arrow:hover {
	background-color: rgba(240, 248, 255, 0.397);
}

.button:active,
.arrow:active {
	background-color: rgba(199, 199, 199, 0.04);
}


.back {
	bottom: 76px;
	left: 28px;
}

.option {
	bottom: 76px;
	right: 28px;
}

.play {
	width: 48px;
	height: 48px;
	left: 73px;
	bottom: 38px;
}

.up {
	width: 56px;
	height: 30px;
	left: 69px;
	bottom: 85px;
}

.down {
	width: 56px;
	height: 30px;
	left: 69px;
	bottom: 10px;
}

.left {
	height: 56px;
	width: 30px;
	left: 40px;
	bottom: 15px;
}

.right {
	height: 56px;
	width: 30px;
	right: 40px;
	bottom: 15px;
}

.musique {
	position: absolute;
	top: 18px;
	width: 100%;
	background-color: black;
	height: 145px;
	display: none;

}

.musique-li {
	margin: 0px 3px;
	padding: 1px;
	border: solid 1px rgba(255, 166, 0, 0) ;

}

.hover-musique-li {
	border: solid 1px orange ;
	color: black;
	background: linear-gradient(white, yellow);
}

.music-player {
	position: absolute;
	top: 18px;
	width: 100%;
	background-color: black;
	height: 145px;
	display: none;
}

.music-title img {
	width: 10px;
	vertical-align: middle;
	filter: invert();
	margin-right: 2px;
}

.music-cover {
	width: 50px;
	margin: 5px;
}


.music-infos {
	border-top: solid  0.1px #858585;
	margin: 3px;
}

.music-count {
	position: absolute;
	right: 10px;
	top: 60px;
}


.music-progress-bar-bg, 
.music-progress-bar {
	position: absolute;
	bottom: 1px;
	height: 4px;

}

.music-progress-bar-bg {
	background: linear-gradient( #282828,#858585);
	width: 100%;
}

.music-progress-bar {
	background: linear-gradient( #86A0FF,#4576FF, #9FD3FF );
	width: 0%;
}

.clock {
    background-color: black;
    height: 179px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clock-shadow {
	position: absolute;
	filter: blur(2px) ;
	z-index: 1;
}
.clock-body {
	z-index: 2;
}

h2 {
	font-size: 15px;
	font-weight: lighter;
	margin: 0;
}
h3 {
	font-weight: lighter;
	font-size: 10px;
	margin: 0;
}

.hour {
	position: absolute;
	text-align: center;
	top:62px;
	font-weight: 100;
}

.aiguille-h {
	position: absolute;
	z-index: 10;
	top : 22px;

}

.aiguille-m {
	position: absolute;
	z-index: 10;
	rotate: 360deg;
	top : 22px;
}




.all-musique {
	position: absolute;
	top: 18px;
	width: 100%;
	background-color: black;
	height: 145px;
	display: none;

}

